<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head')  %> 

<body>
        <!-- Acá sumamos la vista automatizada header -->
		<%- include ('./partials/header')  %> 
    <main class="container">
        <section class="formContainer">
            <h1>Editar producto</h1>
            <form enctype="multipart/form-data" id="newProduct" action="/products/<%= productEdit.id %>?_method=put" method="POST">        
                <div class="item">
                    <label for="product-name"><i class="fas fa-edit"></i> Nombre del producto</label>
                    <input type="text" name="name" id="name" value="<%= productEdit.name %>">
                </div>
                <div class="item">
                    <label for="product-description"><i class="fas fa-edit"></i> Descripción del producto</label>
                  
                <textarea name="description" id="description" cols="30" rows="10"><%= productEdit.description %></textarea>
                </div>
                <div class="item">
                    <label for="product-image"><i class="fas fa-edit"></i> Imagen del producto (JPG/PNG):</label>
                    <input type="image" src="/img/productos/<%= productEdit.image %> " value="" alt="ZAPATILLAS X9000L2">
                    <input type="file" name="image" id="image" accept="image/png, image/jpeg" multiple>
                </div>
                <div class="item">
                    <label for="product-category">Categoría del producto</label>
                    <input type="text" name="category" value="<%= productEdit.category %>" id="category">
                </div>
                <!-- <div class="item">
                    <label for="product-color"><i class="fas fa-edit"></i> Color del producto</label>
                    <input type="color" name="product-color" id="product-color">
                </div> -->
                <div class="item">
                    <label for="product-price"><i class="fas fa-edit"></i> Precio del producto ($)</label>
                    <input type="text" name="price" id="price" value="<%= productEdit.price %>">
                </div>
                <div class="item"></div>
                    <button type="submit">GUARDAR PRODUCTO</button>
                </div>
            </form>

        </section>
    </main>
      <!-- Acá sumamos la vista automatizada footer -->
      <%- include ('./partials/footer')  %> 
</body>

</html>