<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head') %>

<body class="edit">
        <!-- Acá sumamos la vista automatizada header -->
		<%- include ('./partials/header')  %> 
    <main class="container">
        <section class="formContainer">
            <h1>Editar producto</h1>
            
            <form id="editProduct" action="/products/<%= productEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input 
                        type="text" 
                        name="name" 
                        value="<%= productEdit.name %>"
                        class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %> input-modified"
                    >
                    <span class="invalid-feedback validations-msg">
                    <% if (locals.errors && errors.name) { %>
                        <%= errors.name.msg %>
                    <% } %>
                    </span>
                </div>

                <div class="form-group">
                    <label for="description">Descripción</label>
                    <textarea class="form-control" name="description" id="description" rows="5"><%= productEdit.description %></textarea>
                    <span class="invalid-feedback validations-msg">
                    <% if (locals.errors && errors.description) { %>
                        <%= errors.description.msg %>
                    <% } %>
                    </span>
                </div>

                <div class="form-group">
                    <label for="image">Imagen (JPG, JPEG, PNG, GIF)</label>
                    <input type="image" class="form-control" src="/img/productos/<%= productEdit.image %> " value="" alt="ZAPATILLAS X9000L2">
                    <input type="file" class="form-control" name="image" id="image" accept="image/png, image/jpeg" multiple>
                    <span class="invalid-feedback validations-msg">
                    <% if (locals.errors && errors.image) { %>
                        <%= errors.image.msg %>
                    <% } %>
                    </span>
                </div> 

                <div class="form-group">
                    <label for="price">Precio ($)</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="price" 
                        id="price" 
                        value="<%= productEdit.price %>"
                    >
                    <span class="invalid-feedback validations-msg">
                    <% if (locals.errors && errors.price) { %>
                        <%= errors.price.msg %>
                    <% } %>
                    </span>
                </div>

                <div class="form-group">
                    <label for="category">Categoría</label>
                    <select class="form-control" name="category" id="category">
                        <option>-- Seleccionar categoría --</option>
                        <!-- Obtenemos las categorías -->
                        <% for( i=0; i<productCategory.length; i++){ %>
                            <% if (productCategory[i].id == productEdit.id_category) { %>
                                <option value="<%= productCategory[i].id %>" selected><%= productCategory[i].name %></option>
                            <% } else { %>
                                <option value="<%= productCategory[i].id %>"><%= productCategory[i].name %></option>
                            <% } %>
                        <% }%>
                        <!-- -->
                    </select>
                </div>
                
                <button class="button" type="submit">GUARDAR PRODUCTO</button>
                
            </form>

                </section>
            </main>
            <!-- Acá sumamos la vista automatizada footer -->
            <%- include ('./partials/footer') %>
    </body>

    </html>