<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head') %>

    <body class="login">

        <!-- Acá sumamos la vista automatizada header -->
        <%- include ('./partials/header') %>

            <main>
                <div class="container">
                    <section class="inicio-sesion">
                        <div class="titulo">
                            <h1>Iniciar Sesión</h1>
                        </div>
                        <div class="subtitulo">
                            <p>Completá tus datos para acceder a tu cuenta</p>
                        </div>
                        <section class="formulario">
                            <form id="loginForm" action="/user/login" method="POST">
                                <!-- Email -->
                                <div class="form-group">
                                    <input 
                                        type="text" 
                                        class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %> input-modified" 
                                        id="email" 
                                        name="email" 
                                        placeholder="Correo electrónico" 
                                    >
                                    <span class="invalid-feedback validations-msg">
                                    <% if (locals.errors && errors.email) { %>
                                        <%= errors.email.msg %>
                                    <% } %>
                                    </span>
                                </div>
                                <!-- Contraseña -->
                                <div class="form-group">
                                    <input 
                                        type="password" 
                                        class="form-control <%=  locals.errors && errors.password ? 'is-invalid' : null %> input-modified" 
                                        id="password" 
                                        name="password" 
                                        placeholder="Contraseña" 
                                    >
                                    <span class="invalid-feedback validations-msg">
                                    <% if (locals.errors && errors.password) { %>
                                        <%= errors.password.msg %>
                                    <% } %>
                                    </span>
                                </div>

                                <button class="button" type="submit">ACCEDER</button>
                                
                                <!-- <div class="botones">
                                    <div class="boton-acceso">
                                        <button type="submit">ACCEDER</button>
                                    </div>
                                    <div class="boton-contrasenia">
                                        <button type="button">¿OLVIDASTE TU CONTRASEÑA?</button>
                                    </div>
                                </div> -->

                            </form>
                        </section>
                    </section>
                </div>
            </main>
            <!-- Acá sumamos la vista automatizada footer -->
            <%- include ('./partials/footer') %>
    </body>

    </html>