<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head') %>

    <body>

        <!-- Acá sumamos la vista automatizada header -->
        <%- include ('./partials/header') %>

            <main>
                <div class="container">
                    <h3 class="h3-products">TIENDA ONLINE</h3>
                    <h2 class="producto">
                        <%= productDetail.name %>
                    </h2>

                    <section class="containerdetalle">

                        <% if (productDetail.gallery && productDetail.gallery.length>0 ) { %>

                            <!-- Carrusel de productos -->
                            <div id="carouselProductos" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <% for (let i=0; i<productDetail.gallery.length; i++) { %>
                                        <button type="button" data-bs-slide-to="<%= [i] %>"
                                            aria-label="Slide <%= [i + 1] %>" data-bs-target="#carouselProductos" <% if
                                            ( [i]==0 ) { %>
                                            class="active" aria-current="true"
                                            <% } %> style="background-image: url(/img/productos/<%=
                                                    productDetail.gallery[i] %>);">
                                        </button>
                                        <% } %>
                                </div>
                                <div class="carousel-inner">
                                    <% for (let i=0; i<productDetail.gallery.length; i++) { %>
                                        <div class="carousel-item <% if ( [i] == 0 ) { %>active<% } %>"
                                            data-bs-interval="10000">
                                            <img src="/img/productos/<%= productDetail.gallery[i] %>"
                                                class="d-block w-100" alt="<%= productDetail.name %>">
                                        </div>
                                        <% } %>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductos"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Anterior</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselProductos"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Siguiente</span>
                                </button>
                            </div>
                            <!-- Carrusel de productos -->

                        <% } else { %>
                        <img src="/img/productos/<%= productDetail.image %>" class="d-block w-100" alt="<%= productDetail.name %>">
                        <% } %>

                        <section class="detalletexto">
                            <article class="opcionestalles">
                                <p class="stock">EN STOCK</p>
                                <h3>Descripción</h3>
                                <p>
                                    <%= productDetail.description %>
                                </p>
                            </article>

                            <article class="opcionestalles">
                                <h3>Categoría</h3>
                                <p>
                                    <%= productDetail.category %>
                                </p>
                            </article>

                            <article class="opcionestalles">
                                <h3>Precio</h3>
                                <p class="price">$<%= productDetail.price %></p>
                            </article>
                                
                            <div class="condicionesproductos">
                                <div class="condicionesproductos2">
                                    <i class="far fa-credit-card"></i> 3 cuotas sin interés con Mercado Pago
                                </div>
                                <div class="condicionesproductos2">
                                    <i class="fas fa-truck"></i> Envío gratis a partir de $5.000
                                </div>
                            </div>
                            
                            <!--
                            <article class="opcionestalles">
                                <p class="talle">Eleigí tu Talle</p>
                                <label>
                                    <input type="radio" name="medio" value="35">
                                    35
                                </label>
                                <label>
                                    <input type="radio" name="medio" value="35">
                                    36
                                </label>
                                <label>
                                    <input type="radio" name="medio" value="35">
                                    37
                                </label>
                                <label>
                                    <input type="radio" name="medio" value="35">
                                    38
                                </label>
                                <label>
                                    <input type="radio" name="medio" value="35">
                                    39
                                </label>
                                <label>
                                    <input type="radio" name="medio" value="35">
                                    39
                                </label>
                            </article>
                            <article>
                                <div>
                                    <form action="" method="POST">
                                        <button class="botomcompra" type="submit">Añadir al Carrito <i
                                                class="fas fa-arrow-right"></i></button>
                                    </form>
                                </div>
                            </article>
                            -->

                            <form action="" method="POST">
                                <button class="button" type="submit"><i class="fas fa-cart-plus"></i> Añadir al Carrito</button>
                            </form>

                            <form action="/products/<%= productDetail.id %>?_method=delete" method="POST">
                                <a class="button" href="/products/create"><i class="fas fa-plus-circle"></i> Crear Producto</a>
                                <a class="button" href="/products/<%= productDetail.id %>/edit"><i class="fas fa-pencil-alt"></i> Editar Producto</a>
                                <button class="button" type="submit"><i class="far fa-trash-alt"></i> Eliminar</button>
                            </form>
                        </section>
                    </section>

                    <!--
                    <section class="productosrelacionados">
                        <h3 class="prod-relacionados-h3">Productos relacionados</h3>
                        <article class="otrosproductos">
                            <div><i class="fas fa-chevron-left"></i></div>
                            <div>
                                <div class="holis">
                                <img class="fotopequena" src="/img/imgDetalleProducto/product1.jpg" alt="">
                                <p class="nomeproducto">Producto1</p>
                                <p class="precio">$10.000</p>
                                </div>
                            </div>
                            <div>
                                <div class="holis">
                                <img class="fotopequena" src="/img/imgDetalleProducto/product2.jpg" alt="">
                                <p class="nomeproducto">Producto2</p>
                                <p class="precio">$10.000</p>
                            </div>
                            <div>
                                <div class="holis">
                                <img class="fotopequena" src="/img/imgDetalleProducto/product3.jpg" alt="">
                                <p class="nomeproducto">Producto3</p>
                                <p class="precio">$10.000</p>
                                </div>
                            </div>
                            <div>
                                <img class="fotopequena" src="/img/imgDetalleProducto/product4.jpg" alt="">
                                <p class="nomeproducto">Producto4</p>
                                <p class="precio">$10.000</p>
                            </div>
                            <div>
                                <img class="fotopequena" src="/img/imgDetalleProducto/product5.jpg" alt="">
                                <p class="nomeproducto">Producto5</p>
                                <p class="precio">$10.000</p>
                            </div>
                            <div>
                                <img class="fotopequena" src="/img/imgDetalleProducto/product6.jpg" alt="">
                                <p class="nomeproducto">Producto6</p>
                                <p class="precio">$10.000</p>
                            </div>
                            <div><i class="fas fa-chevron-right"></i></div>
                        </article>
                    </section>
                    -->

                </div>
            </main>

            <!-- Acá sumamos la vista automatizada footer -->
            <%- include ('./partials/footer') %>
    
    </body>
</html>