<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head') %>

  <body>
    <!-- Acá sumamos la vista automatizada header -->
    <%- include ('./partials/header') %>

      <h1 style="margin-left: 10%;">Hi <%= user.email %>  </h1>

      <img src="/img/usersAvatars/<%= user.image %>" alt="perfil" width="100" height="auto" style="margin-left: 10%; border-radius: 50%;">

      

<%- include ('./partials/footer') %>
  </body>

  </html>