<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head') %>

  <body>
    <!-- Acá sumamos la vista automatizada header -->
    <%- include ('./partials/header') %>





      <h1 style="margin-left: 10%;">Hi <%= user.name %>
      </h1>

      <!-- test imagen-->




      <img src="/img/usersAvatars/<%= user.avatar_image%>" alt="perfil" width="20%" height="50%"
        style="margin-left: 10%; border-radius: 50%;">


      <h2 style="margin-left: 15%;margin-top: 2%;margin-bottom: 5%;">
        <%= user.email %>
      </h2>




      <%- include ('./partials/footer') %>
  </body>

  </html>