<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head') %>

    <body>
        <!-- Acá sumamos la vista automatizada header -->
        <%- include ('./partials/header') %>
            <main>
                <div class="container">
                    <div class="inicio-sesion">
                        <div class="titulo">
                            <h1>Creá tu Cuenta</h1>
                        </div>
                        <div class="subtitulo">
                            <p>Complete los campos para poder creár su cuenta</p>
                        </div>
                        <section class="formulario">
                            <form id="registerUserForm" action="/user/register" method="POST" enctype="multipart/form-data">
                                <!-- Usuario -->
                                <div class="form-group">
                                    <input 
                                        type="text" 
                                        name="name" 
                                        id="name" 
                                        placeholder="Nombre de usuario"
                                        value="<%= locals.oldData ? oldData.name : null %>"
                                        class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %> input-modified"
                                    >
                                    <span class="invalid-feedback validations-msg">
                                    <% if (locals.errors && errors.name) { %>
                                        <%= errors.name.msg %>
                                    <% } %>
                                    </span>
                                </div>

                                <!-- Email -->
                                <div class="form-group">
                                    <input 
                                        type="text" 
                                        name="email" 
                                        id="Email" 
                                        placeholder="Email"
                                        value="<%= locals.oldData ? oldData.email : null %>"
                                        class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %> input-modified"
                                    >
                                    <span class="invalid-feedback validations-msg">
                                    <% if (locals.errors && errors.email) { %>
                                        <%= errors.email.msg %>
                                    <% } %>
                                    </span>
                                </div>

                                <!-- Avatar -->
                                <div class="form-group">
                                    <input 
                                        type="file" 
                                        name="avatar_image" 
                                        id="avatar"
                                        class="form-control" 
                                    >
                                    <span class="invalid-feedback validations-msg">
                                    <% if (locals.errors && errors.avatar_image) { %>
                                        <%= errors.avatar_image.msg %>
                                    <% } %>
                                    </span>
                                </div>

                                <!-- Contraseña -->
                                <div class="form-group">
                                    <input 
                                        type="password" 
                                        name="password" 
                                        id="password"
                                        placeholder="Contraseña" 
                                        value=""
                                        class="form-control <%=  locals.errors && errors.password ? 'is-invalid' : null %> input-modified"
                                    >
                                    <span class="invalid-feedback validations-msg">
                                    <% if (locals.errors && errors.password) { %>
                                        <%= errors.password.msg %>
                                    <% } %>
                                    </span>
                                </div>
                                <!-- Confirmar contraseña -->
                                <div class="form-group">
                                    <input 
                                        type="password" 
                                        name="password2" 
                                        id="confirmar-contra" 
                                        class="form-control" 
                                        placeholder="Confirmar contraseña"
                                    >
                                    <span class="invalid-feedback validations-msg">
                                    <% if (locals.errors && errors.password) { %>
                                        <%= errors.password.msg %>
                                    <% } %>
                                    </span>
                                </div> 
                                
                                <div class="boton-registrar">
                                    <button class="button" type="submit">REGISTRAR</button>
                                </div>
                                
                            </form>
                        </section>
                    </div>
                </div>
            </main>
            <!-- Acá sumamos la vista automatizada footer -->
            <%- include ('./partials/footer') %>
    </body>

    </html>